.vscode/
abrt/
alacritty/
Android Open Source Project/
autostart/
cef_user_data/
Code/
dconf/
Docker Desktop/
enchant/
eog/
evolution/
flutter/
GitHub Desktop/
gnome-boxes/
gnome-session/
goa-1.0/
Google/
google-chrome/
gtk-3.0/
gtk-4.0/
ibus/
JetBrains/
jxbrowser/
menus/
nautilus/
pulse/
systemd/
TabNine/
totem/
yandex-browser-beta/
background
dleyna-renderer-service.conf
gnome-initial-setup-done
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
.gsd-keyboard.settings-ported